/public
/static/fonts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
go.work
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db
_config.yaml
.env
.env.*

content/*
!content/navidation/
content/navidation/*
!content/navidation/navigation.md
content/*
!content/navidation/
content/navidation/*
!content/navidation/navigation.md
.tmp/

# npm
node_modules/
bin/rash
bin/rash.exe
*.tgz
*.tar.gz
*.zip

# compiled binary
rash.exe
rainhush.exe